## <span style="color:aquamarine">**Exercise**</span>

**Removing Outliers from Air bnb new york data set**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"F:\Machine Learning all Algorithms\Feature Engineering\Outlier Detection quantile\Exercise\AB_NYC_2019.csv")
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [3]:
df.shape

(48895, 16)

In [4]:
df.price.describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [5]:
min_thresold, max_thresold = df['price'].quantile([0.001, 0.999])
min_thresold, max_thresold

(18.0, 3000.0)

In [7]:
df[df['price']<min_thresold].head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2860,1620248,Large furnished 2 bedrooms- - 30 days Minimum,2196224,Sally,Manhattan,East Village,40.73051,-73.98140,Entire home/apt,10,30,0,NaN,NaN,4,137
4647,3258197,Large 1br Duplex in Heart of Upper East Side,16477306,Jeff,Manhattan,Upper East Side,40.76866,-73.95553,Entire home/apt,16,2,21,2019-06-30,1.69,1,9
5542,4031809,Prewar classic NYC apartment.,20902552,Miquel,Manhattan,Washington Heights,40.83456,-73.94344,Private room,16,14,0,NaN,NaN,1,0
8169,6301965,Beautiful SoHo Loft,655506,Silvia,Manhattan,SoHo,40.72340,-73.99967,Entire home/apt,16,3,3,2018-01-08,0.16,1,0
8270,6364324,The Oasis.,33106693,Elena,Manhattan,Harlem,40.82159,-73.95013,Private room,16,2,43,2019-07-01,1.66,3,154

In [9]:
df[df['price']>max_thresold].head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1862,826690,"Sunny, Family-Friendly 2 Bedroom",4289240,Lucy,Brooklyn,Prospect Heights,40.67919,-73.97191,Entire home/apt,4000,4,0,NaN,NaN,1,83
2698,1448703,Beautiful 1 Bedroom in Nolita/Soho,213266,Jessica,Manhattan,Nolita,40.72193,-73.99379,Entire home/apt,5000,1,2,2013-09-28,0.03,1,365
3537,2110145,UWS 1BR w/backyard + block from CP,2151325,Jay And Liz,Manhattan,Upper West Side,40.77782,-73.97848,Entire home/apt,6000,14,17,2015-02-17,0.27,1,359
3695,2224896,NYC SuperBowl Wk 5 Bdrs River View,11353904,Todd,Manhattan,Upper West Side,40.79476,-73.97299,Entire home/apt,4000,1,0,NaN,NaN,1,0
3720,2243699,"SuperBowl Penthouse Loft 3,000 sqft",1483320,Omri,Manhattan,Little Italy,40.71895,-73.99793,Entire home/apt,5250,1,0,NaN,NaN,1,0

In [10]:
df2=df[(df.price>min_thresold) & (df.price<max_thresold)]
df2

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [11]:
df2.shape

(48792, 16)

In [12]:
df2.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
16557,13261616,"Sunny, Accessible, UES Apt - Summer in the City",24693048,Tola,Manhattan,Upper East Side,40.77693,-73.94524,Entire home/apt,120,7,0,NaN,NaN,1,0
37631,29838679,EXCELLENT private room X,209298687,Digna,Brooklyn,Bedford-Stuyvesant,40.68907,-73.95217,Private room,65,30,13,2019-06-10,1.77,4,333
19751,15816784,big cozy room in Bed-Stuy with separate entrance,20241220,William,Brooklyn,Bedford-Stuyvesant,40.68186,-73.92173,Private room,50,2,0,NaN,NaN,1,0
41027,31898630,Bushwick Apartment,239116505,Alexis,Brooklyn,Bushwick,40.69945,-73.93543,Private room,38,3,1,2019-02-12,0.20,1,0
6265,4576206,Brooklyn Brownstone Beauty,22017065,Marycatherine,Brooklyn,Prospect Heights,40.68137,-73.97081,Entire home/apt,250,3,27,2019-07-05,0.49,1,266
27208,21502902,Warm & Cozy,156231243,Debra,Brooklyn,Bay Ridge,40.63380,-74.03162,Private room,30,3,0,NaN,NaN,1,0
7155,5211090,"Central 1 bdrm, W/D, roof deck",26958002,Justin,Manhattan,Kips Bay,40.74041,-73.98176,Entire home/apt,225,2,2,2015-06-25,0.04,1,0
28265,21984232,Cosy bedroom in bushwick near Jefferson L train,69546339,Michael,Brooklyn,Bushwick,40.70401,-73.92629,Private room,41,6,2,2018-05-10,0.11,2,0
46867,35466184,Beautiful large master bedroom suite,266834909,Fred,Brooklyn,South Slope,40.66512,-73.99084,Private room,60,14,1,2019-07-08,1.00,1,26
34588,27427289,Test Drive A Historic Brownstone in Brooklyn!,6456799,Cheryl,Brooklyn,Bedford-Stuyvesant,40.68726,-73.94176,Entire home/apt,125,21,2,2019-05-09,0.65,1,250

In [13]:
df2.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.879200e+04,4.879200e+04,48792.000000,48792.000000,48792.000000,48792.000000,48792.000000,38788.000000,48792.000000,48792.000000
mean,1.901257e+07,6.759963e+07,40.728952,-73.952153,147.257952,7.011785,23.304230,1.373524,7.153509,112.690134
std,1.098355e+07,7.860072e+07,0.054541,0.046147,153.226602,20.450101,44.581136,1.680605,32.986309,131.575545
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,19.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.465711e+06,7.824647e+06,40.690080,-73.983050,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967200e+07,3.078721e+07,40.723060,-73.955670,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.914990e+07,1.074344e+08,40.763120,-73.936277,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,2999.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [14]:
df2.to_csv("F:\Machine Learning all Algorithms\Feature Engineering\Outlier Detection quantile\Exercise\cleaned_air_bnb.csv")